absl-py
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
async-timeout
attrs
babel
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
cycler
dataclasses-json
debugpy
decorator
defusedxml
distro
exceptiongroup
executing
faiss-cpu
fastjsonschema
filelock
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
greenlet
groq
grpcio
h11
h5py
httpcore
httpx
httpx-sse
huggingface-hub
idna
intel-cmplr-lib-ur
intel-openmp
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langsmith
lark
libclang
llvmlite
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
mkl
mkl-service
ml-dtypes
mpmath
multidict
mypy_extensions
namex
narwhals
nbclient
nbconvert
nbformat
neo4j
nest-asyncio
networkx
notebook
notebook_shim
numba
numpy
oauthlib
onemkl-license
opt_einsum
optree
orjson
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
python-dotenv
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
Send2Trash
sentence-transformers
shap
six
slicer
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
streamlit
sympy
tbb
tcmlib
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tinycss2
tokenizers
toml
tomli
torch
tornado
tqdm
traitlets
transformers
types-python-dateutil
typing-inspect
typing-inspection
typing_extensions
tzdata
umf
uri-template
urllib3
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
yarl
zstandard
